@charset "utf-8";
@charset "utf-8";
@import "reset.css"; /* CSS 초기화 */
/* left */

body{overflow: hidden;}
.left_wrap{position:relative; height:100%;}

/* info_my */
.info_my {background-color: transparent;}
.info_my:after{content:" ";display:block;height:0;clear:both}
.info_my .name_user{display:none; float:left;line-height:2;font-size:14px;text-decoration:underline}
.info_my button {float:left; margin: 0px auto;}

.wrap_btn {position:relative; box-sizing: border-box; height: 42px; background-color: #f8f9fa;}
.wrap_btn btn {display:block; width: 91px; height: 42px; box-sizing: border-box;}
.wrap_btn span {display:block; text-indent:-5000px; overflow:hidden;}
.wrap_btn .alert {float:left; display:block; width: 93px; height: 42px; }
.wrap_btn .set {float:left; display:block; width: 92px;  border-left: 1px solid #eee; border-right: 1px solid #eee;}
.wrap_btn .info_my {float: right; }
.btn_alert {box-sizing: border-box; background: url("/common/theme/webdek/images/icon_bottom_bell.png") no-repeat center; background-size: 15px 18px; padding:12px 46px; }
.btn_setting {float:left;  display:block; width: 93px; height:41px; box-sizing: border-box; padding-left: 1px solid #eee;
 padding-right: 1px solid #eee;  background: url("/common/theme/webdek/images/icon_bottom_set.png") no-repeat center; background-size: 18px;  padding:10px 40px}
.btn_logout{float:right; width: 91px;  box-sizing: border-box; background-color: transparent;  background: url("/common/theme/webdek/images/icon_bottom_logout.png") no-repeat center; background-size: 18px; padding:12px 40px}
.btn span{display:inline-block;text-align:left;text-indent:-5000px;overflow:hidden}
.label-warning {position:absolute; background-color: #fa6d45; font-size:10px; width:14px; height:14px; text-align:center; background-size: 10px; border-radius:14px; display:inline-block; vertical-align:middle; color: white; top: 9px; left: 44px;}
 
/* Quick menu */
/* .guick_menu{position:relative} */
/* .guick_link{text-align:right;margin:16px 20px 20px} */
/* .guick_link:after{content:" ";display:block;height:0;clear:both} */
/* .guick_tit{float:left;line-height:2;font-size:14px} */

/* .guick_menu ul {display: none;}  20210511 주석처리*/

.guick_menu .lnb_dep01{overflow:auto;display:none;}
/*display:none;  */
.guick_menu.open .lnb_dep01{display:block}

/* lnb dep */
.lnb_wrap{border: none;}
.lnb_wrap ul{display:block;}
.my_menu,.sys_menu{width:50%; box-sizing:border-box;}
.lnb_dep01
.lnb_dep01 {background-color: #fff; border: none;}
.lnb_dep01 li a {border: none; color: #666;}
.lnb_dep01 .open {display:block;}/* 메뉴 확장 */
.lnb_dep01 li a{position:relative; display:block;padding: 6px 0px 6px 38px; text-overflow:ellipsis; white-space:nowrap}
.lnb_dep01 > li > a:after{content:" ";display:block;position:absolute;left:0px;top:18px;width:14px;height:12px}
.lnb_dep01 li a{position:relative; display:block;padding: 6px 0px 6px 38px; text-overflow:ellipsis;overflow:hidden; white-space:nowrap}
.lnb_dep01 > li > a:after {background: url(/common/theme/webdek/images/icon_folder_minus.png) no-repeat 20px center;  background-size: 14px; color: #222;}
.dep01_focus > a {color: #fff !important; background: #4ba1d9 url(/common/theme/webdek/navy/icon_folder_open.png) no-repeat 20px center !important; background-size: 14px auto !important; }

.lnb_dep02 > li > a{padding:6px 0px 6px 56px}
.lnb_dep02 > li > a:after {background: url(/common/theme/webdek/images/icon_folder_minus.png) no-repeat 38px center;  background-size: 14px;}

.lnb_dep03 > li > a:after {background: url(/common/theme/webdek/images/icon_folder_doc.png) no-repeat 54px center;  background-size: 12px;}
.lnb_dep03 {border: none;}
.lnb_dep03 li.on a {background-color: #fcfcfc;}

/* tabs */
.tab_wrap {display:block; list-style: none; width:100%; overflow: hidden; position: relative; box-sizing:border-box;}
.tab_wrap .tabs {cursor: pointer; height: 30px; display:block; overflow: hidden;box-sizing:border-box; list-style: none;width:100%; margin: 0; padding: 0;}
.tabs .tab {display:block; box-sizing:border-box;float: left; height: 30px; position: relative; text-align: center; background-color:#eee; font-size: 14px;  letter-spacing: -1px;}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
.tab h1 {height: 30px;line-height: 30px;}
.tab a {display:block;text-decoration: none; color: #979797;}
.tab span {display:block;text-align:left;padding-left:40px; background-position: 20px center; background-size: 12px; background-repeat: no-repeat;}
.tab:nth-of-type(1) span {background-image: url(/common/theme/webdek/images/icon_set02_999.png);}
.tab:nth-of-type(2) span {background-image: url(/common/theme/webdek/images/icon_star02_999.png);}
.tabs .sys_menu.on, .tabs .my_menu.on {border-bottom: 1px solid #fff; background-color:#fff;background-position: 20px center;background-size: 12px;background-repeat: no-repeat; }
.tabs .sys_menu.on span {background-image:url(/common/theme/webdek/images/icon_bottom_set.png);}
.tabs .my_menu.on span {background-image:url(/common/theme/webdek/images/icon_fav_after.png);}
/* .tabs li.active, .tabs li.active a:hover  {background-color: #fff; border-bottom: 1px solid #fff;}*/
/* .tab a {display:block; height:14px; text-decoration: none;}
.tab span {display:block; height:14px; line-height: 14px; text-align:center; text-indent: 22px;}
.sys_menu {border-left: 1px solid #fff; width: 140px; background: #fff;}
.btn_sysmenu span {color:#333; background: url("/common/theme/webdek/images/icon_set01.png") no-repeat left center; background-size: 12px;}
.my_menu {border-left: 1px solid #eee; border-bottom: 1px solid #eee; width:139px; background: #f8f9fa; padding: 18px 28px 18px 50px;}
.btn_mymenu span  {color:#99a4b1; background: url("/common/theme/webdek/images/icon_star02.png") no-repeat 14px center; background-size: 12px;}
   */
/* search */
.search_box{position:relative; float: left; border: none;clear: both; }
.search_box input::placeholder {position:absolute; color: #999; top: 0; left:16px;} 

/* .tab_container {background: url(/common/theme/webdek/images/left-main-bg.png) no-repeat; background-size: cover; background-position: 11% 25%;} */

.tab_container fieldset {display:block;box-sizing:border-box; height: 70px; padding: 18px 15px;border-bottom:1px solid #eee;}

.search_box .btn {position:absolute;right:1px;top:1px; width: 28px; height: 28px;background:#fff url(/common/theme/webdek/images/search.png) no-repeat center center;background-size: 15px; }
.serch_input {background-color:#fff; border:2px solid #fff;border-radius:2px; padding-left: 15px; padding-right: 13px; border: solid 1px #c9c9c9; box-sizing:border-box;  border-radius: 2px; width: 244px; height: 30px; padding-left:7px; box-sizing:border-box; color: #999;}
.serch_input_change::placeholder {padding-top:6px;}
.sort_box {float:right; box-sizing:border-box; width: 30px; height: 30px; margin-left:1px; border-radius: 2px; }
.sort_box button {margin: 0; padding: 0;border:1px solid #c9c9c9;width: 30px;height: 30px;background:#fff url(/common/theme/webdek/green/btn_open_menu_blue.png)no-repeat 50% 50%;background-size: 14px;}
.sort_box button.slide {background:#fff url(/common/theme/webdek/green/btn_close_menu_blue.png)no-repeat 50% 50%;background-size: 14px;}
/*input 버튼 위치수정*/
.search_box_change {width:210px;}
.serch_input_change {width:210px;}
/*
.ztree * {padding:0; margin:0; font-size:12px; font-family: Verdana, Arial, Helvetica, AppleGothic, sans-serif;box-sizing: border-box;}
.ztree {margin:0; padding:0px; color:#333}
.ztree li{padding:0; margin:0; list-style:none;text-align:left; white-space:nowrap; outline:0;line-height:28px;}
.ztree li ul{ margin:0;}
.ztree li ul.line{ background:url(/common/theme/webdek/images/line_conn.gif) 0 0 repeat-y;}
.ztree li > ul > li {background-color: rgba(255,255,255,0.6);}
.ztree li > ul > li >ul >li {background-color: #fcfcfc;}
.ztree li a { margin:0; cursor:pointer; height:28px;color:#333; background-color: transparent;text-decoration:none; vertical-align:bottom; display: inline-block;width:100%;}
.ztree li a input.rename {height:14px; width:80px; padding:0; margin:0;font-size:12px; border:1px #7EC4CC solid; *border:0px}
.ztree li a span:nth-of-type(1) { display: none;}
.ztree li span.button {line-height:0; margin:0; width:28px; height:28px; display: inline-block; vertical-align:middle;border:0 none; cursor: pointer;outline:none;background-color:transparent; background-repeat:no-repeat; background-attachment: scroll;background-size: 14px;}
.ztree li > span.button {padding-left: 40px;background-position: 20px center;position: relative;}
.ztree li > span.button:before,
.ztree li > span.button:after {display:none; content:'';width:23px; height:23px; position:absolute;top:2px;left:25px;background-repeat: no-repeat;background-size: 23px; }
.ztree li > ul > li > ul > li span.button:before,
.ztree li > ul > li > ul > li span.button:after {display:none; content:'';width:23px; height:23px; position:absolute;top:2px;left:45px;background-repeat: no-repeat;background-size: 24px;}
.ztree li > span.button:before {background-image: url(/common/theme/webdek/images/icon_folder_open_02.png);z-index:2;}
.ztree li > ul > li > ul > li span.button:before {background-image: url(/common/theme/webdek/images/icon_folder_list.png);z-index:2;}
.ztree li > span.button:after,
.ztree li > ul > li > ul > li span.button:after {background-color: #4BA1DF;z-index:1;}
.ztree li > ul > li > ul > li:focus span.button:before,
.ztree li > ul > li > ul > li:focus span.button:after{display: block;}
.ztree li > ul > li > ul > li:focus span.button + a {color:#4BA1DF;}

.ztree li > ul > li > span.button {padding-left: 50px; background-image:url(/common/theme/webdek/images/icon_folder_list_on.png);background-position: 30px center;}
.ztree li > ul > li > ul > li span.button {padding-left: 70px; background-image:url(/common/theme/webdek/images/icon_folder_list_on.png);background-position: 50px 5px;}

.ztree li span.button.root_open{background-image:url(/common/theme/webdek/images/icon_folder_open.png);}
.ztree li span.button.root_close{background-image:url(/common/theme/webdek/images/error.png);}
.ztree li span.button.roots_open{background-color:#4ba1d9; background-image:url(/common/theme/webdek/images/icon_folder_open.png);}
.ztree li span.button.roots_close{background-image:url(/common/theme/webdek/images/icon_folder_close_03.png);}
.ztree li span.button.center_open{background-color:#4ba1d9;background-image:url(/common/theme/webdek/images/icon_folder_close_03.png);}
.ztree li span.button.center_close{background-image:url(/common/theme/webdek/images/icon_folder_close_03.png);}
.ztree li span.button.bottom_open{background-color:#4ba1d9; background-image:url(/common/theme/webdek/images/icon_folder_open.png);}
.ztree li span.button.bottom_close{background-image:url(/common/theme/webdek/images/icon_folder_close_03.png);}
.ztree li span.button.noline_open{background-image:url(/common/theme/webdek/images/error.png);}
.ztree li span.button.noline_close{background-image:url(/common/theme/webdek/images/error.png);}

.ztree > li > span.button.roots_open + a,
.ztree > li > span.button.center_open + a,
.ztree > li > span.button.bottom_open + a {background-color:#4ba1d9;color:#fff; }

#treeList_2_switch,
#treeList_16_switch,
#treeList_21_switch,
#treeList_23_switch,
#treeList_26_switch,
#treeList_34_switch,
#treeList_40_switch,
#treeList_54_switch,
#treeList_56_switch,
#treeList_69_switch,
#treeList_73_switch,
#treeList_82_switch,
#treeList_84_switch,
#treeList_86_switch,
#treeList_9_switch.bottom_open ,
#treeList_29_switch.bottom_open,
#treeList_46_switch.bottom_open,
#treeList_58_switch.bottom_open,
#treeList_77_switch.bottom_open,
#treeList_89_switch.bottom_open {background-color: transparent !important;}

.ztree li >ul >li > span.center_open:before,
.ztree li >ul >li > span.center_open:after ,
#treeList_9_switch.bottom_open:before ,
#treeList_9_switch.bottom_open:after,
#treeList_29_switch.bottom_open:before,
#treeList_29_switch.bottom_open:after,
#treeList_46_switch.bottom_open:before,
#treeList_46_switch.bottom_open:after,
#treeList_58_switch.bottom_open:before,
#treeList_58_switch.bottom_open:after,
#treeList_77_switch.bottom_open:before,
#treeList_77_switch.bottom_open:after,
#treeList_89_switch.bottom_open:before,
#treeList_89_switch.bottom_open:after {display: inline-block;}

#treeList_15_switch.center_open {background-image:url(/common/theme/webdek/images/icon_folder_open.png)}

.ztree li span.button.ico_open{background-image:url(/common/theme/webdek/images/icon_fav_after.png)}
.ztree li span.button.ico_docu {background-image:url(/common/theme/webdek/images/icon_folder_list_blue.png)}
*/